html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F1D1B4; /* Default background color */
  min-height: 100vh;
  box-sizing: border-box;
  }
  .content {
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 180px); /* Adjust based on the height of header and footer */
  }
  
  .mat-dialog-container {
    padding: 24px;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden; /* Ensure no scrollbar */
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
  }
  a {
    color: #4b0082; /* Same color as in the gradient */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  