<div class="header">
    <div class="header-left">
      <span class="name">Tyler Maddox</span>
    </div>
    <div class="header-right">
      <a routerLink="">Home</a>
      <a routerLink="/experience">Experience</a>
      <a routerLink="/education">Education</a>
      <a routerLink="/interests">Interests</a>
      <a routerLink="/projects">Projects</a>
      <div class="dropdown">
        <button class="dropbtn">
          My Sites
          <img src="img/downArrow.svg" alt="Down Arrow" class="arrow-icon">
        </button>
        <div class="dropdown-content">
          <a href="https://github.com/tmaddox23" target="_blank">GitHub</a>
          <div class="divider"></div>
          <a href="https://www.instagram.com/tyler__maddox/" target="_blank">Instagram</a>
          <div class="divider"></div>
          <a href="https://www.linkedin.com/in/tyler-maddox-about/" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
  