.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #305F72; /* Background color for footer */
    height: 60px; /* Same thickness as header */
  }
  
  .footer-center a {
    color: white;
    text-decoration: none;
    margin: 0 20px; /* Margin between links */
    font-weight: 400;
  }
  
  .footer-center a:hover {
    text-decoration: underline;
  }
  