<div class="experience-container">
    <div class="section">Education
        <hr>
        <div class="section-body">
            nienirnineiornie rgirmiem r emrieirm iormmeio
        </div>
    </div>
    <div class="section">Work
        <hr>
        <div class="section-body">
            kbourebnr roenionf oinfin oinen oneroin oinein
        </div>
    </div>
    <div class="section">Extra curricular
        <hr>
        <div class="section-body">
            enirnfie irnein inerin irinr ineinri
        </div>
    </div>
    <div class="section">Volunteer
        <hr>
        <div class="section-body">
            iwnrpio rmfpem ionreinf
        </div>
    </div>
</div>
