.user-name-container {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    width: 20ch; /* Set the width to fit 20 characters */
    padding: 8px;
    box-sizing: border-box;
  }
  